body {
    
}

.divContainer {
    margin: 0 auto;
    width: 80%;
    text-align: center;
}

.divButtons {
    margin-top: 50px;
}

.imgLogo {
    width: 150px;
}

.btnHome {
    margin: 5px 15px 5px 15px;
    width: 40%;
}

footer {
    padding: 100px 10px 50px 50px;
}